<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top elegant-color scrolling-navbar">
        <div class="container">
            <a class="navbar-brand" href="/">
                <strong>{{ SHOP_NAME_SHORT }}</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop/">Online Shop</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Problem Areas</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Golf Course</a>
                            <a class="dropdown-item" href="#">Sports Turf</a>
                            <a class="dropdown-item" href="#">Engineering</a>
                            <a class="dropdown-item" href="#">Lawn Care</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact/">Contact Us</a>
                    </li>
                    <!--
                    {% for product_category in product_categories %}
                    <li class="nav-item">
                        <a class="nav-link" href="/shop/listings.php?category={{ product_category[0] }}"> {{ product_category[1] }} Products</a>
                    </li>
                    {% endfor %}
                    -->
                </ul>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </form>
            </div>
        </div>
    </nav>
</header>
