{% extends "templates/portal.html.twig" %}

{% block title %}
    Portal Home
{% endblock %}

{% block css %}
{% endblock %}

{% block portal_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        Overview
    </div>
    <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, concludaturque conclusionemque his id, lorem novum ex pri. Autem aliquip mnesarchum eos no. Posse tempor appellantur ius ad, consetetur efficiantur ex usu. Duo nusquam voluptua vulputate at, fugit sensibus gubergren pri ex. No vix rebum illud, eam ad necessitatibus concludaturque.</p>
        <p>Probatus repudiare signiferumque in nec, cu eirmod copiosae philosophia qui, qui an dicam noster eripuit. Expetenda deterruisset consequuntur te est, enim zril vis ei, his labores pericula eu. Nam cu quis legendos vituperata. Mei eu minimum verterem efficiantur, modo platonem cotidieque has no, qui ne tota vivendo percipitur.</p>
        <p>Eam ut audire efficiendi. Soluta nusquam prodesset id mea. Tale latine eu vel, et ponderum principes eum, vel id quot instructior. Duo magna labores ei, putant iisque ea sea. Alii simul impetus vix cu.</p>
        <p>Id pro aeque facilisi. Ipsum simul eu has, ad nihil suavitate vel, ea animal atomorum recteque sea. Causae assentior referrentur eu vim, ne expetenda voluptaria ullamcorper nam. Pri ei prima meliore qualisque.</p>
        <p>Unum disputationi vim ex. Et lobortis persecuti eum. Ad mutat referrentur vis, assum iisque oblique id per. No dicunt iisque tritani vel, choro deterruisset ei est, in case possit integre his.</p>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}
