{% extends "templates/base.html" %}

{% block js %}
{% endblock %}

{% block main %}
    <h2>Turf-Tec International is the world-wide leading manufacturer of diagnostic turf-grass, environmental, and infiltration tools!</h2>
{% endblock %}
