{% extends "templates/base.html" %}

{% block title %}
{% endblock %}

{% block css %}
{% endblock %}

{% block main %}
    <h3>Turf-Tec International is the world-wide leading manufacturer of diagnostic turf-grass, environmental, and infiltration tools!</h3>
{% endblock %}

{% block js %}
{% endblock %}

