{% extends "templates/base.html.twig" %}

{% block title %}
    Terms
{% endblock %}

{% block css %}
{% endblock %}

{% block main %}
    <h2>LIMITED WARRANTY OF TURF-TEC INTERNATIONAL PRODUCTS</h2>
    <p>
        Turfgrass Products Corporation - dba - Turf-Tec International ("Seller") warrants to the final purchaser, that all Turf-Tec International tools will be free from defects in material or workmanship for a period of one year from date of purchase. SELLER'S SOLE OBLIGATION AND YOUR EXCLUSIVE REMEDY under this Limited Warranty and, to the extent permitted by law, any warranty or condition implied by law, shall be the repair or replacement of parts, without charge, which are defective in material or workmanship and which have not been misused, carelessly handled, or improperly repaired by persons other than Turf-Tec International. To make a claim under this Limited Warranty, you must return the complete tool, transportation prepaid, to Turf-Tec International after contacting Turf-Tec International and receiving a return authorization number. Please include a dated proof of purchase with your tool.
    </p>
    <p>
        ANY IMPLIED WARRANTIES SHALL BE LIMITED IN DURATION TO ONE YEAR FROM DATE OF PURCHASE. IN NO EVENT SHALL SELLER BE LIABLE FOR ANY INCIDENTAL OR CONSEQUENTIAL DAMAGES (INCLUDING BUT NOT LIMITED TO LIABILITY FOR LOSS OF PROFITS) ARISING FROM THE SALE OR USE OF THIS PRODUCT. THIS LIMITED WARRANTY GIVES YOU SPECIFIC LEGAL RIGHTS, AND YOU MAY ALSO HAVE OTHER RIGHTS WHICH VARY FROM STATE TO STATE IN THE U.S., PROVINCE TO PROVINCE IN CANADA AND FROM COUNTRY TO COUNTRY.
    </p>

    <h2>RETURN POLICY</h2>
    <p>
        Turf-Tec International has been in business since 1976 and we pride ourselves in producing quality tools that last for years and years.  We offer a 100% satisfaction guarantee on all of our products and will gladly accept any return for a credit to be used at Turf-Tec International for future orders or a check refund may be issued.  There is a 30% re-stocking fee for all returned merchandise whether an in house credit or a refund is requested and shipping charges will not be refunded.  All returned merchandise must be new and in re-salable condition.  Turf-Tec will only receive returns if a return authorization number is first obtained from Turf-Tec International.  Again, all returned merchandise must be new and in re-salable condition and Turf-Tec does not pay return shipping fee's.
    </p>
{% endblock %}

{% block js %}
{% endblock %}

